.page-footer {
	width: 100%;
	background-color: #2f303a;
}

.content {
	padding: 60px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: $desktop) {
		display: flex;
		flex-direction: row;
		align-items: stretch;
	}
}

.footer-contacts {
	@media screen and (max-width: $tablet) {
		margin-bottom: 60px;
	}

	&__logo {
		display: block;
		padding: 0;
		text-align: center;
		margin-bottom: 20px;
		color: $primary-white;

		font-family: Raleway, sans-serif;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.2;

		@media screen and (min-width: $desktop) {
			text-align: left;
		}
	}

	&__accent {
		color: $accent-color;
	}

	&__item {
		text-align: center;
		margin-bottom: 9px;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (min-width: $desktop) {
			text-align: left;
		}
	}

	&__address {
		color: $primary-white;

		font-size: 14px;
		line-height: 1.7;
	}

	&__link {
		color: rgba(255, 255, 255, 0.6);
		transition: color 250ms $timing;

		font-size: 14px;
		line-height: 1.7;

		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
}

.network-footer {
	@media screen and (max-width: $tablet) {
		margin-bottom: 60px;
	}

	@media screen and (min-width: $desktop) {
		margin-left: 70px;
	}
	&__list {
		display: flex;
		justify-content: center;
	}

	&__item {
		border-radius: 50%;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 44px;
		height: 44px;

		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.1);
		transition: background-color 250ms $timing;

		&:hover,
		&:focus {
			background-color: $accent-color;
		}
	}

	&__icon {
		fill: $primary-white;
	}
}

.position {
	width: 100%;

	@media screen and (min-width: $tablet) {
		display: flex;
		justify-content: space-around;
		margin-bottom: 60px;
	}

	@media screen and (min-width: $desktop) {
		margin-bottom: 0;
	}
}

.subscription {
	width: 100%;

	@media screen and (min-width: $desktop) {
		margin-left: 93px;
		
	}

	&__form {
		@media screen and (min-width: $desktop) {
			display: flex;
		}
	}

	&__input {
		display: block;

		
		padding: 15px;

		width: 100%;
		height: 50px;

		border-radius: 4px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background-color: #2f303a;
		color: rgba(255, 255, 255, 0.6);

		font-size: 16px;
		line-height: 1.25;

		@media screen and (min-width: $mobile) {
			width: 450px;
			margin: 0 auto;
		}
		@media screen and (min-width: $tablet) {
			margin: 0 auto;
		}
		@media screen and (min-width: $desktop) {
			margin-right: 12px;;
			width: 358px;
		}
	}

	&__button {
		margin: 0 auto;
		margin-top: 20px;

		@media screen and (min-width:$desktop) {
			margin-top: 0;
			
		}

	}

	&__icon {
		margin-left: 10px;
		fill: $primary-white;
	}
}
