.nav {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;

	@media screen and (min-width: $tablet) {
		justify-content: center;
	}

	@media screen and (min-width: $desktop) {
		flex-wrap: nowrap;
		margin-bottom: 50px;
	}

	&__item {
		margin-right: 8px;
		margin-bottom: 15px;
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}

		@media screen and (min-width: $tablet) {
			margin-bottom: 0;
		}
	}


	&__button {
		padding: 6px 22px;

		border-radius: 4px;
		border: none;
		cursor: pointer;

		background-color: #f5f4fa;
		color: $primary-text-color;
		transition: background-color 250ms $timing, color 250ms $timing;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.6;
		&:hover,
		&:focus {
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
			background-color: $accent-color;
			color: $primary-white;
		}
	}
}

.block {
	&__list {
		padding-bottom: 60px;

		@media screen and (min-width: $tablet) {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
		}

		@media screen and (min-width: $desktop) {
			padding-bottom: 94px;
		}
	}

	&__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (min-width: $tablet) {
			width: calc((100% - 30px) / 2);
			margin-bottom: 0;
		}

		@media screen and (min-width: $desktop) {
			width: calc((100% - 60px) / 3);
			margin-bottom: 0;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
		transition: box-shadow 250ms $timing;
		&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
			.effects__title {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	&__info {
		flex: 1 0 auto;
		width: 100%;
		padding: 20px 24px;
		border: 1px solid #eeeeee;
		border-top: 0;
	}

	&__title {
		margin: 0;
		color: $primary-text-color;

		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
	}

	&__described {
		margin: 0;
		color: $title-text-color;

		font-size: 16px;
		line-height: 1.9;
	}
}

.effects {
	position: relative;
	overflow: hidden;
	transition: opacity 250ms $timing;

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__title {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		width: 100%;
		height: 100%;
		margin: 0;
		padding: 63px 24px;

		transition: transform 250ms $timing, opacity 250ms $timing;
		pointer-events: none;
		transform: translateY(+100%);
		background-color: $accent-color;
		color: $primary-white;

		font-size: 18px;
		line-height: 28px;
	}
}
