.team {
	background-color: #f5f4fa;

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;

		@media screen and (min-width: $desktop) {
			flex-wrap: nowrap;
		}
	}
	&__item {
		width: 100%;
		padding-bottom: 30px;

		text-align: center;

		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		background-color: $primary-white;

		@media screen and (min-width: $tablet) {
			width: calc((100% - 30px) / 2);
		}
	}

	&__img {
		width: 100%;
	}

	&__name {
		margin-top: 30px;
		margin-bottom: 10px;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.18;
	}

	&__position {
		margin: 0;
		margin-bottom: 16px;

		font-size: 16px;
		line-height: 1.18;
		color: $title-text-color;
	}
}

.network {
	display: flex;
	justify-content: center;

	&__item {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		padding: 12px;

		border-radius: 50%;
		transition: background-color 250ms $timing;
		&:hover,
		&:focus {
			background-color: $accent-color;
			outline: transparent;
			.network__icon {
				fill: $primary-white;
			}
		}
	}

	&__icon {
		fill: $icon-color;
		transition: fill 250ms $timing;
	}
}
