body {
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	background-color: $primary-white;
	color: $primary-text-color;
}

.list {
	list-style: none;
	text-decoration: none;
	border: none;
	font-style: normal;
	margin: 0;
	padding: 0;
}

.visual-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 100%;
	padding: 0 15px;

	@media screen and (min-width: $tablet) {
		width: $tablet;
		margin: 0 auto;
	}

	@media screen and (min-width: $desktop) {
		width: $desktop;
	}
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: $desktop) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.title {
	margin: 0;
	margin-bottom: 30px;

	text-align: center;

	font-weight: 700;
	font-size: 28px;
	line-height: 1.16;

	@media screen and (min-width: $desktop) {
		margin-bottom: 50px;

		font-size: 36px;
	}
}

.footer__title {
	text-align: center;
	margin: 0;
	margin-top: 12px;
	margin-bottom: 20px;
	color: $primary-white;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	@media screen and (min-width: $desktop) {
		text-align: left;
	}
}
